/* Customer pages */

#customer-pages {
    display: block;
    background: white;
    box-shadow: 1px 1px 2px #868080;
  }
  
  #customer-pages h3 {
    text-align: center;
      text-transform: uppercase;
      margin-top: 10px;
      display: inline-block;
      width: 100%;
  }

  .updateCustomer {
    width: 30%;
    margin-left: 5%;
  }

  .customer-latest-info {
    display: flex;
  }

  .customer-latest-info > div {
    border: 1px solid #e5e4e4;
    margin: 10px;
    padding: 10px;
  }

  .customer-latest-info a {
    display: block;
    text-align: right;
    padding: 5px 0px;
  }

  #customer-pages .address-update, #customer-pages .orders {
    display: flex;
    flex-direction: column;
  }
  
  #customer-pages .Order {
    margin: 10px;
    padding-bottom: 5px;
  }