* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

html, body {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

main {
  margin: 120px auto 110px auto;

}

header, main {
  width: 80%;
  display: block;
}

header {
  width: 100%;
  justify-content: center;
  background: #f8f8f8;
  z-index: 10;
  height: 120px;
  /* position: fixed;
  top: 0; */
}

.header-logo {
  width: 100%;
  top: 0;
  z-index: 999;
  background: #f8f8f8;
  position: absolute;
}

.standard-btn {
  background: black;
  color: white;
  border: none;
  height: 30px;
  width: 95px;
  cursor: pointer;
  text-transform: uppercase;
}

header img {
  width: 300px;
  margin: 15px;
}

header .login-logout {
  width: 80px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

header .my-account {
  right: 80px;
}

.main-nav {
  width: 100%;
  background: #e41b73;
  display: block;
  top: 115px;
  position: absolute;
  z-index: 999;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

.main-nav li {
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

.main-nav li a {
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav li:hover {
  opacity: 0.8;
}

.cart-button {
  width: 50px;
  display: block;
  float: right;
  cursor: pointer;
}

.qty-in-cart {
  background: black;
  width: 25px;
  border-radius: 50%;
  z-index: 9999999;
  color: white;
  text-align: center;
  top: 7px;
  left: 10px;
  position: relative;
}

.main-nav .fas {
  color: white;
}

.fixed-nav .main-nav {
  position: fixed;
  top: 0;
}

.fixed-nav .cart-content {
  top: -300px;
}

.fixed-nav .cart-content.active {
  top: 50px;
}

footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background: #333;
  padding: 20px;
  margin-top: 10px;
}

footer ul {
  margin: 0;
}

footer ul li {
  list-style: none;
  color: #fff;
}

/* Index page */
#index-wrapper {
  width: 100%;
  margin: auto auto 110px auto;
}

.big-front-image {
  position: relative;
  margin-top: 45px;
}

.big-front-image div img {
  width: 100%;
}

.big-front-image .text-for-image {
  position: absolute;
  font-family: auto;
  width: 50%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px #333;
  font-size: 60px;
  top: 40%;
  left: 25%;
  right: 25%;
}

.big-front-image .btn-index {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: aliceblue;
  box-sizing: border-box;
  padding: 18px;
  box-shadow: 0px 1px 1px #938e8e;
  text-transform: uppercase;
}

.big-front-image .btn-index:hover {
  opacity: 0.8;
}

  /* Font-styles */
  h1 {
    margin-top: 40px;
    font-size: 50px;
  }

  h4 {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .product-card h2 {
    font-size: 14px;
    margin: 0px;
    padding-left: 10px;
  }
  
  .product-card .price {
    padding-left: 10px;
  }
  
  .category-title {
    width: 100%;
    margin-left: 55px;
  }
  
  li > a {
    color: #fff;
  }

/* Standard styles */

input {
  width: 90%;
  height: 35px;
  border: 2px solid #e41b73;
  box-shadow: inset 0px 2px 3px 0px #bbb7b7;
  padding: 5px;
}

input:focus {
  border: 2px solid #000;
  outline: none;
}

